<nav class="menu-container">
  <ul class="menu-list">
    <li><button class="menu-btn" routerLink="/cadastro-pessoa">Ir para Cadastro de Pessoas</button></li>
    <li><button class="menu-btn" routerLink="/cadastro-departamento">Cadastro de Departamento</button></li>
    <li><button class="menu-btn" routerLink="/lista-pessoas">Ver Lista de Pessoas</button></li>
    <li><button class="menu-btn" routerLink="/lista-departamento">Ver Lista de Departamento</button></li>
  </ul>
</nav>
<router-outlet></router-outlet>
